.container {

    padding-top: 3rem;
    padding-bottom: 4rem;

    line-height: 1.3rem;

    p {
        margin-bottom: 1rem;
    }

    @include menuMobile{
        em {
            display: block;
            padding-top: 1rem;
        }
    }

}

.text {

}

.heading {

}