$list: (
    sm: 75px,
    lg: 150rem,
);

$weight: (
    0: bold,
    md: normal
);

// $x: property( "font-size", $list, $multiply: .12 );
// $y: property( "font-weight", $weight );
// $z: property( "font-style", ( 0: italic, lg: normal ) );



.mdxHeading {

    color: variable( primary );
    // @include transition();
    font-size: fontSize( 2 );
    // max-width: responsiveValue( glob, $breakpoints );

    $som: (
        14rem: (
            font-size: large,
        ),
        large: (
            font-size: 15px,
        ),
        5rem: (
            font-size: 2rem,
        ),
        40rem: (
            color: black,
        ),
        100rem: (
            color: yellow
        )
    );
    // @include responsiveList( $som );

    $index: (
        // font-size: map-calc( $breakpoints, 5rem, "-" ),
        font-weight: (
            0: bold,
            lg: normal,
            40rem: bold
        ),
        color: (
            30rem: yellow
        )
    );

    

    // @include responsiveIndex( $index );


}