.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    color: var(--moichim-text);
    margin-bottom: 5rem;

    transition: all .3s ease-in-out;

    &:hover,
    &:focus {

        .title {

            &:after {
                
                width: 100%;
            }
        }

        .link {
            box-shadow: .5rem .5rem 0 var(--moichim-text);
        }

        box-shadow: .5rem .5rem 0 var(--moichim-text);
    }
}


.content {
    width: 70%;
}

.text {
    width: 30%;
}

@media (max-width: 1400px) {
    .content {
        width: 80%;
    }

    .text {
        width: 20%;
    }
}

@media (max-width: 1200px) {
    .content {
        width: 100%;
    }

    .text {
        width: 100%;
    }
}



.text {
    padding: 1rem;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: var(--moichim-text);

    &:hover,
    &:focus {
        color: var(--moichim-text);
    }

    ul {
        padding-left: 1.2rem;
    }

    li {
        list-style-type: disc;
        margin-top: .3rem;
    }
}

.badge {
    display: block;
    color: var(--moichim-foreground);
    background: transparent;
    border: 0;
    margin-bottom: 1rem;
    opacity: .5;
    font-size: .8rem;
    text-transform: uppercase;

    &::before {
        // content: "/";
        display: inline-block;
        margin-right: .5rem;
    }
}

.badge_container {
    flex-grow: 1;
}

.text_inner {
    line-height: 1.1rem;

    p:not(:last-child) {
        margin-bottom: .7rem;
    }
}

.title {
    font-weight: bold;
    transition: all .2s ease-in-out;

    position: relative;
    display: inline-block;

    &::after {
        position: absolute;
        bottom: -.5rem;
        left: 0;
        height: 3px;
        width: 0%;
        
        transition: all .2s ease-in-out;
        content: "";

        background: var(--moichim-primary);

    }
}

.subtitle {

    margin-top: 1rem;
    opacity: .5;

}

.link {
    display: inline-flex;
    align-items: center;
    gap: .3rem;
    box-sizing: border-box;
    margin-top: 1rem;
    padding: .5rem 1rem .5rem .7rem;
    color: var(--moichim-background);
    background: var(--moichim-primary);

    transition: all .2s ease-in-out;

    &:hover {
        color: var(--moichim-navLink) !important;

        span {
            transform: translateX(.3rem);
        }
    }

    span {
        display: inline-block;
        transition: all .2s ease-in-out;
        transform: translateX(0);
    }


}

.arrow {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    transform: translateY(.1rem);
}