// @use 'sass:math';

.container {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.3rem;

    p,
    ul{
        &:not( :last-child ) {
            padding-bottom: 1rem;
        }
    }

    ul {
        list-style-type: dot;
        padding-left: 1rem;

        li {
            margin-left: 0;
            padding-left: .5rem;
            padding-bottom: .25rem;
        }
    }

}

.wrapper {
    margin-left: math.div($gap, -2);
    margin-right: math.div($gap, -2);
    width: calc( 100% + #{$gap});
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}