// @use 'sass:math';

.container {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.3rem;

    p,
    ul{
        &:not( :last-child ) {
            padding-bottom: 1rem;
        }
    }

    ul {
        
        padding-left: 0;
        margin-left: 1rem;
        list-style-type: disc;

        li {
            margin-left: 0;
            // padding-left: .25rem;
            padding-bottom: .25rem;
            list-style-type: disc;
        }
    }

    h1, h2 {
        // font-weight: bold;
        padding-bottom: 2rem;
    }

}

.wrapper {
    margin-left: math.div($gap, -2);
    margin-right: math.div($gap, -2);
    width: calc( 100% + #{$gap});
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.wrap {
    
}

.nowrap {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}