:root {

    // The base styles
    @include printDefaultVariables();

    // Print other themes
    @each $theme,
    $vars in map-get($variables, "themes") {

        &[data-theme='#{$theme}'] {
            @include printThemeVariables($theme );
        }

    }


}

html {

    @include responsiveIndex((
        font-size: (
            0: 22px,
            //sm: 20px,
            md: 25px,
            //lg: 23px,
            //xl: 30px
        )
    ));

}

body {
    background: variable(bg);
    color: variable(text);
    @include transition();

    font-family: "IBM Plex Sans", sans-serif;
    overflow-x: hidden;
}

a {
    color: variable( primary );
    &:focus {
        outline: 0;
    }
}




