.container {

    transition: all .4s ease-in-out;
    @include sharedVerticalPadding;

}

.zoomed {
    transform: scale( .7 );
    opacity: .2;
}

.header {

    text-align: center;
    padding: 4rem 0 4rem 0;

    @include menuMobile{
        padding: 5rem 0 6rem 0;
    }

    h1 {
        font-weight: bold;
        margin-bottom: .5rem;
        // font-size: 2rem;
    }

}

.content {

}

.footer {

    text-align: center;
    @include sharedVerticalPadding;
    padding-top: 3rem !important;
    // padding-bottom: 1rem !important;

    div:not( :last-child ) {
        padding-bottom: 1rem;
    }

    svg {
        width: 1.5rem;
    }

}