@use "sass:map";

$breakpoints: (
    0: 0px,
    sm: 600px,
    md: 800px,
    lg: 1200px,
    xl: 1500px
);

$transitionDuration: 200;

$menuCollapseBreakpoint: md;
$menuCollapseDuration: $transitionDuration;

$gap: 1rem;

$primary: red;

$variables: (
    default: (
        primary: blue,
        secondary: green,
        bg: rgb(241, 241, 241),
        text: black,
        highlight: yellow,
        navBg: blue,
        navText: white,
        navLink: yellow
    ),
    themes:(
        dark: (
            bg: rgb(10, 10, 10),
            text: rgb(255, 255, 255),
            primary: blue
        )
    )
);

$prefix: "moichim";




